.nav_button {
    display: inline-block;
    padding: 15px;
    background-color: lightcyan
}

#nav {
    background-color: grey;

}


#left {
    width: 29%;
    float: left;
    background-color: lightgray

}

#right {
    width: 71%;
    float: left;
    background-color: lightseagreen
}


#top {
    background-color:palegreen


}

#bottom {
    background-color: plum;
    height: 750px;
}